:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #66ffff;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
.thanks-page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


.thanks-page img{
    position: relative;
    top: 10rem;
    left: 33%;
    width: 45rem;
    align-items: center;
    justify-content: center;

}
.thanks-page h1{
    margin-top: 13rem;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

@media (max-width: 574px) {
    .thanks-page img{
        width: 35rem;
        left: 12rem;
    }
    .thanks-page h1{
        font-size: 15px;
    }
}
@media (max-width: 430px) {
    .thanks-page img{
        width: 35rem;
        left: 3rem;
    }
    .thanks-page h1{
        font-size: 15px;
    }
}
@media (max-width: 390px) {
    .thanks-page img{
        width: 35rem;
        left: 2rem;
    }
    .thanks-page h1{
        font-size: 15px;
    }
}
@media (max-width: 375px) {
    .thanks-page img{
        width: 30rem;
        left: 4rem;
    }
    .thanks-page h1{
        font-size: 15px;
    }
}
